<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Result Management System</h1>
    </div>
</nav>
<div container>
    <div class="login">
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="text-center">
                <h2>Login As</h2>
            </div>
            <button routerLink="/student-login" class="btn btn-primary" type="button">Student</button>
            <button routerLink="/user-login" class="btn btn-primary" type="button">Teacher</button>
        </div>
    </div>
</div>