<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Result Management System</h1>
        <div class="d-flex">
            <button routerLink="/login" class="btn btn-danger mx-4">Logout</button>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="text-center">
        <h2>Find Result</h2>
    </div>
    <div class="card">
        <form>
            <div *ngIf="errorText" class="alert alert-danger" role="alert">
                Student not found!!!
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Roll Number</label>
                <input type="number" [(ngModel)]="roll" [ngModelOptions]="{standalone: true}"
                    class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <div class="text-center">
                <button type="submit" [disabled]="!roll && !name" (click)="searchStudent()"
                    class="btn btn-primary">Search</button>
                <button type="reset" class="btn btn-secondary mx-3">Clear</button>
            </div>
        </form>
    </div>
</div>
<table class="table mt-3 mx-3">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let studentdata of student">
            <td>{{studentdata.id}}</td>
            <td>{{studentdata.roll}}</td>
            <td>{{studentdata.name}}</td>
            <td>{{studentdata.dob}}</td>
            <td>{{studentdata.score}}</td>
        </tr>
    </tbody>
</table>