.card{
    border: none;
    margin-top: 40px;
    padding: 40px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 4px;
    background: hsl(205, 46%, 30%,1);
}
#email{
    color: white;
}
#password{
    color: white;
}
.card h1{
    color: white;
}
#a{
    color: white;
}