<div class="container">
    <div class="card">
        <div class="text-center">
            <h1>Sign Up</h1>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" id="name">Name</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" id="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a routerLink="/user-login" id="a">Already registered? Click to login !!</a>
    </div>
</div>